.dark {
  --mps-sys-primary: rgb(158 202 252);
  --mps-sys-surface-tint: rgb(158 202 252);
  --mps-sys-on-primary: rgb(0 50 86);
  --mps-sys-primary-container: rgb(21 73 116);
  --mps-sys-on-primary-container: rgb(208 228 255);
  --mps-sys-secondary: rgb(162 201 254);
  --mps-sys-on-secondary: rgb(0 50 91);
  --mps-sys-secondary-container: rgb(29 72 117);
  --mps-sys-on-secondary-container: rgb(211 228 255);
  --mps-sys-tertiary: rgb(213 190 229);
  --mps-sys-on-tertiary: rgb(58 42 72);
  --mps-sys-tertiary-container: rgb(81 64 96);
  --mps-sys-on-tertiary-container: rgb(241 219 255);
  --mps-sys-error: rgb(255 180 171);
  --mps-sys-on-error: rgb(105 0 5);
  --mps-sys-error-container: rgb(147 0 10);
  --mps-sys-on-error-container: rgb(255 218 214);
  --mps-sys-background: rgb(16 20 24);
  --mps-sys-on-background: rgb(224 226 232);
  --mps-sys-surface: rgb(17 19 24);
  --mps-sys-on-surface: rgb(226 226 233);
  --mps-sys-surface-variant: rgb(66 71 78);
  --mps-sys-on-surface-variant: rgb(195 199 207);
  --mps-sys-outline: rgb(141 145 153);
  --mps-sys-outline-variant: rgb(66 71 78);
  --mps-sys-shadow: rgb(0 0 0);
  --mps-sys-scrim: rgb(0 0 0);
  --mps-sys-inverse-surface: rgb(226 226 233);
  --mps-sys-inverse-on-surface: rgb(46 48 54);
  --mps-sys-inverse-primary: rgb(51 97 141);
  --mps-sys-primary-fixed: rgb(208 228 255);
  --mps-sys-on-primary-fixed: rgb(0 29 53);
  --mps-sys-primary-fixed-dim: rgb(158 202 252);
  --mps-sys-on-primary-fixed-variant: rgb(21 73 116);
  --mps-sys-secondary-fixed: rgb(211 228 255);
  --mps-sys-on-secondary-fixed: rgb(0 28 56);
  --mps-sys-secondary-fixed-dim: rgb(162 201 254);
  --mps-sys-on-secondary-fixed-variant: rgb(29 72 117);
  --mps-sys-tertiary-fixed: rgb(241 219 255);
  --mps-sys-on-tertiary-fixed: rgb(36 21 50);
  --mps-sys-tertiary-fixed-dim: rgb(213 190 229);
  --mps-sys-on-tertiary-fixed-variant: rgb(81 64 96);
  --mps-sys-surface-dim: rgb(17 19 24);
  --mps-sys-surface-bright: rgb(55 57 62);
  --mps-sys-surface-container-lowest: rgb(12 14 19);
  --mps-sys-surface-container-low: rgb(25 28 32);
  --mps-sys-surface-container: rgb(30 32 37);
  --mps-sys-surface-container-high: rgb(40 42 47);
  --mps-sys-surface-container-highest: rgb(51 53 58);
  --mps-sys-success: rgb(155 212 160);
  --mps-sys-success-on: rgb(0 57 21);
  --mps-sys-success-container: rgb(28 81 41);
  --mps-sys-success-on-container: rgb(183 241 186);
  --mps-sys-info: rgb(132 210 230);
  --mps-sys-info-on: rgb(0 54 64);
  --mps-sys-info-container: rgb(0 78 92);
  --mps-sys-info-on-container: rgb(169 237 255);
  --mps-sys-warn: rgb(227 196 109);
  --mps-sys-warn-on: rgb(61 47 0);
  --mps-sys-warn-container: rgb(88 68 0);
  --mps-sys-warn-on-container: rgb(255 224 139);
}
.light {
  --mps-sys-primary: rgb(51 97 141);
  --mps-sys-surface-tint: rgb(51 97 141);
  --mps-sys-on-primary: rgb(255 255 255);
  --mps-sys-primary-container: rgb(208 228 255);
  --mps-sys-on-primary-container: rgb(21 73 116);
  --mps-sys-secondary: rgb(56 96 143);
  --mps-sys-on-secondary: rgb(255 255 255);
  --mps-sys-secondary-container: rgb(211 228 255);
  --mps-sys-on-secondary-container: rgb(29 72 117);
  --mps-sys-tertiary: rgb(106 87 121);
  --mps-sys-on-tertiary: rgb(255 255 255);
  --mps-sys-tertiary-container: rgb(241 219 255);
  --mps-sys-on-tertiary-container: rgb(81 64 96);
  --mps-sys-error: rgb(186 26 26);
  --mps-sys-on-error: rgb(255 255 255);
  --mps-sys-error-container: rgb(255 218 214);
  --mps-sys-on-error-container: rgb(147 0 10);
  --mps-sys-background: rgb(248 249 255);
  --mps-sys-on-background: rgb(25 28 32);
  --mps-sys-surface: rgb(249 249 255);
  --mps-sys-on-surface: rgb(25 28 32);
  --mps-sys-surface-variant: rgb(223 226 235);
  --mps-sys-on-surface-variant: rgb(66 71 78);
  --mps-sys-outline: rgb(115 119 127);
  --mps-sys-outline-variant: rgb(195 199 207);
  --mps-sys-shadow: rgb(0 0 0);
  --mps-sys-scrim: rgb(0 0 0);
  --mps-sys-inverse-surface: rgb(46 48 54);
  --mps-sys-inverse-on-surface: rgb(240 240 247);
  --mps-sys-inverse-primary: rgb(158 202 252);
  --mps-sys-primary-fixed: rgb(208 228 255);
  --mps-sys-on-primary-fixed: rgb(0 29 53);
  --mps-sys-primary-fixed-dim: rgb(158 202 252);
  --mps-sys-on-primary-fixed-variant: rgb(21 73 116);
  --mps-sys-secondary-fixed: rgb(211 228 255);
  --mps-sys-on-secondary-fixed: rgb(0 28 56);
  --mps-sys-secondary-fixed-dim: rgb(162 201 254);
  --mps-sys-on-secondary-fixed-variant: rgb(29 72 117);
  --mps-sys-tertiary-fixed: rgb(241 219 255);
  --mps-sys-on-tertiary-fixed: rgb(36 21 50);
  --mps-sys-tertiary-fixed-dim: rgb(213 190 229);
  --mps-sys-on-tertiary-fixed-variant: rgb(81 64 96);
  --mps-sys-surface-dim: rgb(217 217 224);
  --mps-sys-surface-bright: rgb(249 249 255);
  --mps-sys-surface-container-lowest: rgb(255 255 255);
  --mps-sys-surface-container-low: rgb(243 243 250);
  --mps-sys-surface-container: rgb(237 237 244);
  --mps-sys-surface-container-high: rgb(231 232 238);
  --mps-sys-surface-container-highest: rgb(226 226 233);
  --mps-sys-success: rgb(53 105 62);
  --mps-sys-success-on: rgb(255 255 255);
  --mps-sys-success-container: rgb(183 241 186);
  --mps-sys-success-on-container: rgb(28 81 41);
  --mps-sys-info: rgb(0 104 121);
  --mps-sys-info-on: rgb(255 255 255);
  --mps-sys-info-container: rgb(169 237 255);
  --mps-sys-info-on-container: rgb(0 78 92);
  --mps-sys-warn: rgb(115 92 12);
  --mps-sys-warn-on: rgb(255 255 255);
  --mps-sys-warn-container: rgb(255 224 139);
  --mps-sys-warn-on-container: rgb(88 68 0);
}
