:root {
  --mps-sys-default-font-family: Roboto;
  --mps-sys-shadow: var(--color-black);
  --mps-sys-background-color: var(--md-sys-surface-dim);

  /* ----------------------- SURFACE COLORS -----------------------> */
  --mps-sys-surface-25: light-dark(var(--mat-grey-25), var(--mat-grey-25));
  --mps-sys-surface-50: light-dark(var(--mat-grey-50), var(--mat-grey-50));
  --mps-sys-surface-100: light-dark(var(--mat-grey-100), var(--mat-grey-100));
  --mps-sys-surface-200: light-dark(var(--mat-grey-200), var(--mat-grey-200));
  --mps-sys-surface-300: light-dark(var(--mat-grey-300), var(--mat-grey-300));
  --mps-sys-surface-400: light-dark(var(--mat-grey-400), var(--mat-grey-400));
  --mps-sys-surface-500: light-dark(var(--mat-grey-500), var(--mat-grey-500));
  --mps-sys-surface-600: light-dark(var(--mat-grey-600), var(--mat-grey-600));
  --mps-sys-surface-700: light-dark(var(--mat-grey-700), var(--mat-grey-700));
  --mps-sys-surface-800: light-dark(var(--mat-grey-800), var(--mat-grey-800));
  --mps-sys-surface-900: light-dark(var(--mat-grey-900), var(--mat-grey-900));
  --mps-sys-surface-925: light-dark(var(--mat-grey-925), var(--mat-grey-925));
  --mps-sys-surface-950: light-dark(var(--mat-grey-950), var(--mat-grey-950));
  --mps-sys-surface-A100: light-dark(var(--mat-grey-A100), var(--mat-grey-A100));
  --mps-sys-surface-A200: light-dark(var(--mat-grey-A200), var(--mat-grey-A200));
  --mps-sys-surface-A400: light-dark(var(--mat-grey-A400), var(--mat-grey-A400));
  --mps-sys-surface-A700: light-dark(var(--mat-grey-A700), var(--mat-grey-A700));

  --mps-sys-surface: light-dark(var(--mat-grey-300), var(--mat-grey-300));
  --mps-sys-on-surface: light-dark(var(--mat-black), var(--mat-black));
  --mps-sys-surface-dim: light-dark(var(--mat-grey-600), var(--mat-grey-600));
  --mps-sys-on-surface-dim: light-dark(var(--mat-black), var(--mat-black));
  --mps-sys-surface-bright: light-dark(var(--mat-grey-100), var(--mat-grey-100));
  --mps-sys-on-surface-bright: light-dark(var(--mat-black), var(--mat-black));
  --mps-sys-surface-container: light-dark(var(--mat-grey-400), var(--mat-grey-400));
  --mps-sys-on-surface-container: light-dark(var(--mat-black), var(--mat-black));
  --mps-sys-surface-container-lowest: light-dark(var(--mat-grey-25), var(--mat-grey-25));
  --mps-sys-on-surface-container-lowest: light-dark(var(--mat-black), var(--mat-black));
  --mps-sys-surface-container-low: light-dark(var(--mat-grey-200), var(--mat-grey-200));
  --mps-sys-on-surface-container-low: light-dark(var(--mat-grey-800), var(--mat-grey-800));
  --mps-sys-surface-container-hight: light-dark(var(--mat-grey-500), var(--mat-grey-500));
  --mps-sys-on-surface-container-hight: light-dark(var(--mat-black), var(--mat-black));
  --mps-sys-surface-container-highest: light-dark(var(--mat-grey-700), var(--mat-grey-700));
  --mps-sys-on-surface-container-highest: light-dark(var(--mat-black), var(--mat-black));
  --mps-sys-on-surface-variant: light-dark(var(--mat-gray-800), var(--mat-gray-800));
  --mps-sys-inverse-surface: light-dark(var(--mat-black), var(--mat-black));
  --mps-sys-on-inverse-surface: light-dark(var(--mat-grey-300), var(--mat-grey-300));
  --mps-sys-outline: light-dark(var(--mat-gray-600), var(--mat-gray-600));
  --mps-sys-on-outline: light-dark(var(--mat-gray-200), var(--mat-gray-200));
  --mps-sys-outline-variante: light-dark(var(--mat-gray-A400), var(--mat-gray-A400));
  --mps-sys-on-outline-variante: light-dark(var(--mat-black), var(--mat-black));

  /* <---------------------- PRIMARY COLORS ---------------------------> */
  --mps-sys-primary-25: light-dark(var(--mat-primary-25), var(--mat-primary-25));
  --mps-sys-primary-50: light-dark(var(--mat-primary-50), var(--mat-primary-50));
  --mps-sys-primary-100: light-dark(var(--mat-primary-100), var(--mat-primary-100));
  --mps-sys-primary-200: light-dark(var(--mat-primary-200), var(--mat-primary-200));
  --mps-sys-primary-300: light-dark(var(--mat-primary-300), var(--mat-primary-300));
  --mps-sys-primary-400: light-dark(var(--mat-primary-400), var(--mat-primary-400));
  --mps-sys-primary-500: light-dark(var(--mat-primary-500), var(--mat-primary-500));
  --mps-sys-primary-600: light-dark(var(--mat-primary-600), var(--mat-primary-600));
  --mps-sys-primary-700: light-dark(var(--mat-primary-700), var(--mat-primary-700));
  --mps-sys-primary-800: light-dark(var(--mat-primary-800), var(--mat-primary-800));
  --mps-sys-primary-900: light-dark(var(--mat-primary-900), var(--mat-primary-900));
  --mps-sys-primary-925: light-dark(var(--mat-primary-925), var(--mat-primary-925));
  --mps-sys-primary-950: light-dark(var(--mat-primary-950), var(--mat-primary-950));
  --mps-sys-primary-A100: light-dark(var(--mat-primary-A100), var(--mat-primary-A100));
  --mps-sys-primary-A200: light-dark(var(--mat-primary-A200), var(--mat-primary-A200));
  --mps-sys-primary-A400: light-dark(var(--mat-primary-A400), var(--mat-primary-A400));
  --mps-sys-primary-A700: light-dark(var(--mat-primary-A700), var(--mat-primary-A700));

  --mps-sys-primary: light-dark(var(--mat-primary-600), var(--mat-primary-600));
  --mps-sys-on-primary: light-dark(var(--mat-primary-25), var(--mat-primary-25));
  --mps-sys-primary-container: light-dark(var(--mat-primary-400), var(--mat-primary-400));
  --mps-sys-on-primary-container: light-dark(var(--mat-primary-700), var(--mat-primary-700));
  --mps-sys-primary-fixed: light-dark(var(--mat-primary-500), var(--mat-primary-500));
  --mps-sys-on-primary-fixed: light-dark(var(--mat-primary-950), var(--mat-primary-950));
  --mps-sys-primary-fixed-dim: light-dark(var(--mat-primary-600), var(--mat-primary-600));
  --mps-sys-on-primary-fixed-dim: light-dark(var(--mat-primary-950), var(--mat-primary-950));

  /* <----------------------------- SECONDARY COLORS ---------------------------> */
  --mps-sys-secondary-25: light-dark(var(--mat-secondary-25), var(--mat-secondary-25));
  --mps-sys-secondary-50: light-dark(var(--mat-secondary-50), var(--mat-secondary-50));
  --mps-sys-secondary-100: light-dark(var(--mat-secondary-100), var(--mat-secondary-100));
  --mps-sys-secondary-200: light-dark(var(--mat-secondary-200), var(--mat-secondary-200));
  --mps-sys-secondary-300: light-dark(var(--mat-secondary-300), var(--mat-secondary-300));
  --mps-sys-secondary-400: light-dark(var(--mat-secondary-400), var(--mat-secondary-400));
  --mps-sys-secondary-500: light-dark(var(--mat-secondary-500), var(--mat-secondary-500));
  --mps-sys-secondary-600: light-dark(var(--mat-secondary-600), var(--mat-secondary-600));
  --mps-sys-secondary-700: light-dark(var(--mat-secondary-700), var(--mat-secondary-700));
  --mps-sys-secondary-800: light-dark(var(--mat-secondary-800), var(--mat-secondary-800));
  --mps-sys-secondary-900: light-dark(var(--mat-secondary-900), var(--mat-secondary-900));
  --mps-sys-secondary-925: light-dark(var(--mat-secondary-925), var(--mat-secondary-925));
  --mps-sys-secondary-950: light-dark(var(--mat-secondary-950), var(--mat-secondary-950));
  --mps-sys-secondary-A100: light-dark(var(--mat-secondary-A100), var(--mat-secondary-A100));
  --mps-sys-secondary-A200: light-dark(var(--mat-secondary-A200), var(--mat-secondary-A200));
  --mps-sys-secondary-A400: light-dark(var(--mat-secondary-A400), var(--mat-secondary-A400));
  --mps-sys-secondary-A700: light-dark(var(--mat-secondary-A700), var(--mat-secondary-A700));

  --mps-sys-secondary: light-dark(var(--mat-secondary-600), var(--mat-secondary-600));
  --mps-sys-on-secondary: light-dark(var(--mat-secondary-25), var(--mat-secondary-25));
  --mps-sys-secondary-container: light-dark(var(--mat-secondary-400), var(--mat-secondary-400));
  --mps-sys-on-secondary-container: light-dark(var(--mat-secondary-700), var(--mat-secondary-700));
  --mps-sys-secondary-fixed: light-dark(var(--mat-secondary-500), var(--mat-secondary-500));
  --mps-sys-on-secondary-fixed: light-dark(var(--mat-secondary-950), var(--mat-secondary-950));
  --mps-sys-secondary-fixed-dim: light-dark(var(--mat-secondary-600), var(--mat-secondary-600));
  --mps-sys-on-secondary-fixed-dim: light-dark(var(--mat-secondary-950), var(--mat-secondary-950));

  /* <----------------------------- SECONDARY COLORS ---------------------------> */
  --mps-sys-tertiary-25: light-dark(var(--mat-tertiary-25), var(--mat-tertiary-25));
  --mps-sys-tertiary-50: light-dark(var(--mat-tertiary-50), var(--mat-tertiary-50));
  --mps-sys-tertiary-100: light-dark(var(--mat-tertiary-100), var(--mat-tertiary-100));
  --mps-sys-tertiary-200: light-dark(var(--mat-tertiary-200), var(--mat-tertiary-200));
  --mps-sys-tertiary-300: light-dark(var(--mat-tertiary-300), var(--mat-tertiary-300));
  --mps-sys-tertiary-400: light-dark(var(--mat-tertiary-400), var(--mat-tertiary-400));
  --mps-sys-tertiary-500: light-dark(var(--mat-tertiary-500), var(--mat-tertiary-500));
  --mps-sys-tertiary-600: light-dark(var(--mat-tertiary-600), var(--mat-tertiary-600));
  --mps-sys-tertiary-700: light-dark(var(--mat-tertiary-700), var(--mat-tertiary-700));
  --mps-sys-tertiary-800: light-dark(var(--mat-tertiary-800), var(--mat-tertiary-800));
  --mps-sys-tertiary-900: light-dark(var(--mat-tertiary-900), var(--mat-tertiary-900));
  --mps-sys-tertiary-925: light-dark(var(--mat-tertiary-925), var(--mat-tertiary-925));
  --mps-sys-tertiary-950: light-dark(var(--mat-tertiary-950), var(--mat-tertiary-950));
  --mps-sys-tertiary-A100: light-dark(var(--mat-tertiary-A100), var(--mat-tertiary-A100));
  --mps-sys-tertiary-A200: light-dark(var(--mat-tertiary-A200), var(--mat-tertiary-A200));
  --mps-sys-tertiary-A400: light-dark(var(--mat-tertiary-A400), var(--mat-tertiary-A400));
  --mps-sys-tertiary-A700: light-dark(var(--mat-tertiary-A700), var(--mat-tertiary-A700));

  --mps-sys-tertiary: light-dark(var(--mat-tertiary-600), var(--mat-tertiary-600));
  --mps-sys-on-tertiary: light-dark(var(--mat-tertiary-25), var(--mat-tertiary-25));
  --mps-sys-tertiary-container: light-dark(var(--mat-tertiary-400), var(--mat-tertiary-400));
  --mps-sys-on-tertiary-container: light-dark(var(--mat-tertiary-700), var(--mat-tertiary-700));
  --mps-sys-tertiary-fixed: light-dark(var(--mat-tertiary-500), var(--mat-tertiary-500));
  --mps-sys-on-tertiary-fixed: light-dark(var(--mat-tertiary-950), var(--mat-tertiary-950));
  --mps-sys-tertiary-fixed-dim: light-dark(var(--mat-tertiary-600), var(--mat-tertiary-600));
  --mps-sys-on-tertiary-fixed-dim: light-dark(var(--mat-tertiary-950), var(--mat-tertiary-950));

  /* ----------------------- NEUTRAL COLORS -----------------------> */
  --mps-sys-neutral-25: light-dark(var(--mat-neutral-25), var(--mat-neutral-25));
  --mps-sys-neutral-50: light-dark(var(--mat-neutral-50), var(--mat-neutral-50));
  --mps-sys-neutral-100: light-dark(var(--mat-neutral-100), var(--mat-neutral-100));
  --mps-sys-neutral-200: light-dark(var(--mat-neutral-200), var(--mat-neutral-200));
  --mps-sys-neutral-300: light-dark(var(--mat-neutral-300), var(--mat-neutral-300));
  --mps-sys-neutral-400: light-dark(var(--mat-neutral-400), var(--mat-neutral-400));
  --mps-sys-neutral-500: light-dark(var(--mat-neutral-500), var(--mat-neutral-500));
  --mps-sys-neutral-600: light-dark(var(--mat-neutral-600), var(--mat-neutral-600));
  --mps-sys-neutral-700: light-dark(var(--mat-neutral-700), var(--mat-neutral-700));
  --mps-sys-neutral-800: light-dark(var(--mat-neutral-800), var(--mat-neutral-800));
  --mps-sys-neutral-900: light-dark(var(--mat-neutral-900), var(--mat-neutral-900));
  --mps-sys-neutral-925: light-dark(var(--mat-neutral-925), var(--mat-neutral-925));
  --mps-sys-neutral-950: light-dark(var(--mat-neutral-950), var(--mat-neutral-950));
  --mps-sys-neutral-A100: light-dark(var(--mat-neutral-A100), var(--mat-neutral-A100));
  --mps-sys-neutral-A200: light-dark(var(--mat-neutral-A200), var(--mat-neutral-A200));
  --mps-sys-neutral-A400: light-dark(var(--mat-neutral-A400), var(--mat-neutral-A400));
  --mps-sys-neutral-A700: light-dark(var(--mat-neutral-A700), var(--mat-neutral-A700));

  --mps-sys-neutral: light-dark(var(--mat-neutral-600), var(--mat-neutral-600));
  --mps-sys-on-neutral: light-dark(var(--mat-neutral-25), var(--mat-neutral-25));
  --mps-sys-neutral-container: light-dark(var(--mat-neutral-400), var(--mat-neutral-400));
  --mps-sys-on-neutral-container: light-dark(var(--mat-neutral-700), var(--mat-neutral-700));
  --mps-sys-neutral-fixed: light-dark(var(--mat-neutral-500), var(--mat-neutral-500));
  --mps-sys-on-neutral-fixed: light-dark(var(--mat-neutral-950), var(--mat-neutral-950));
  --mps-sys-neutral-fixed-dim: light-dark(var(--mat-neutral-600), var(--mat-neutral-600));
  --mps-sys-on-neutral-fixed-dim: light-dark(var(--mat-neutral-950), var(--mat-neutral-950));

  /* ----------------------- NEUTRAL VARIANT COLORS -----------------------> */
  --mps-sys-neutral-variant-25: light-dark(var(--mat-neutral-variant-25), var(--mat-neutral-variant-25));
  --mps-sys-neutral-variant-50: light-dark(var(--mat-neutral-variant-50), var(--mat-neutral-variant-50));
  --mps-sys-neutral-variant-100: light-dark(var(--mat-neutral-variant-100), var(--mat-neutral-variant-100));
  --mps-sys-neutral-variant-200: light-dark(var(--mat-neutral-variant-200), var(--mat-neutral-variant-200));
  --mps-sys-neutral-variant-300: light-dark(var(--mat-neutral-variant-300), var(--mat-neutral-variant-300));
  --mps-sys-neutral-variant-400: light-dark(var(--mat-neutral-variant-400), var(--mat-neutral-variant-400));
  --mps-sys-neutral-variant-500: light-dark(var(--mat-neutral-variant-500), var(--mat-neutral-variant-500));
  --mps-sys-neutral-variant-600: light-dark(var(--mat-neutral-variant-600), var(--mat-neutral-variant-600));
  --mps-sys-neutral-variant-700: light-dark(var(--mat-neutral-variant-700), var(--mat-neutral-variant-700));
  --mps-sys-neutral-variant-800: light-dark(var(--mat-neutral-variant-800), var(--mat-neutral-variant-800));
  --mps-sys-neutral-variant-900: light-dark(var(--mat-neutral-variant-900), var(--mat-neutral-variant-900));
  --mps-sys-neutral-variant-925: light-dark(var(--mat-neutral-variant-925), var(--mat-neutral-variant-925));
  --mps-sys-neutral-variant-950: light-dark(var(--mat-neutral-variant-950), var(--mat-neutral-variant-950));
  --mps-sys-neutral-variant-A100: light-dark(var(--mat-neutral-variant-A100), var(--mat-neutral-variant-A100));
  --mps-sys-neutral-variant-A200: light-dark(var(--mat-neutral-variant-A200), var(--mat-neutral-variant-A200));
  --mps-sys-neutral-variant-A400: light-dark(var(--mat-neutral-variant-A400), var(--mat-neutral-variant-A400));
  --mps-sys-neutral-variant-A700: light-dark(var(--mat-neutral-variant-A700), var(--mat-neutral-variant-A700));

  --mps-sys-neutral-variant: light-dark(var(--mat-neutral-variant-600), var(--mat-neutral-variant-600));
  --mps-sys-on-neutral-variant: light-dark(var(--mat-neutral-variant-25), var(--mat-neutral-variant-25));
  --mps-sys-neutral-variant-container: light-dark(var(--mat-neutral-variant-400), var(--mat-neutral-variant-400));
  --mps-sys-on-neutral-variant-container: light-dark(var(--mat-neutral-variant-700), var(--mat-neutral-variant-700));
  --mps-sys-neutral-variant-fixed: light-dark(var(--mat-neutral-variant-500), var(--mat-neutral-variant-500));
  --mps-sys-on-neutral-variant-fixed: light-dark(var(--mat-neutral-variant-950), var(--mat-neutral-variant-950));
  --mps-sys-neutral-variant-fixed-dim: light-dark(var(--mat-neutral-variant-600), var(--mat-neutral-variant-600));
  --mps-sys-on-neutral-variant-fixed-dim: light-dark(var(--mat-neutral-variant-950), var(--mat-neutral-variant-950));

  /* ----------------------- PINK COLORS -----------------------> */
  --mps-sys-pink-25: light-dark(var(--mat-pink-25), var(--mat-pink-25));
  --mps-sys-pink-50: light-dark(var(--mat-pink-50), var(--mat-pink-50));
  --mps-sys-pink-100: light-dark(var(--mat-pink-100), var(--mat-pink-100));
  --mps-sys-pink-200: light-dark(var(--mat-pink-200), var(--mat-pink-200));
  --mps-sys-pink-300: light-dark(var(--mat-pink-300), var(--mat-pink-300));
  --mps-sys-pink-400: light-dark(var(--mat-pink-400), var(--mat-pink-400));
  --mps-sys-pink-500: light-dark(var(--mat-pink-500), var(--mat-pink-500));
  --mps-sys-pink-600: light-dark(var(--mat-pink-600), var(--mat-pink-600));
  --mps-sys-pink-700: light-dark(var(--mat-pink-700), var(--mat-pink-700));
  --mps-sys-pink-800: light-dark(var(--mat-pink-800), var(--mat-pink-800));
  --mps-sys-pink-900: light-dark(var(--mat-pink-900), var(--mat-pink-900));
  --mps-sys-pink-925: light-dark(var(--mat-pink-925), var(--mat-pink-925));
  --mps-sys-pink-950: light-dark(var(--mat-pink-950), var(--mat-pink-950));
  --mps-sys-pink-A100: light-dark(var(--mat-pink-A100), var(--mat-pink-A100));
  --mps-sys-pink-A200: light-dark(var(--mat-pink-A200), var(--mat-pink-A200));
  --mps-sys-pink-A400: light-dark(var(--mat-pink-A400), var(--mat-pink-A400));
  --mps-sys-pink-A700: light-dark(var(--mat-pink-A700), var(--mat-pink-A700));

  --mps-sys-pink: light-dark(var(--mat-pink-600), var(--mat-pink-600));
  --mps-sys-on-pink: light-dark(var(--mat-pink-25), var(--mat-pink-25));
  --mps-sys-pink-container: light-dark(var(--mat-pink-400), var(--mat-pink-400));
  --mps-sys-on-pink-container: light-dark(var(--mat-pink-700), var(--mat-pink-700));
  --mps-sys-pink-fixed: light-dark(var(--mat-pink-500), var(--mat-pink-500));
  --mps-sys-on-pink-fixed: light-dark(var(--mat-pink-950), var(--mat-pink-950));
  --mps-sys-pink-fixed-dim: light-dark(var(--mat-pink-600), var(--mat-pink-600));
  --mps-sys-on-pink-fixed-dim: light-dark(var(--mat-pink-950), var(--mat-pink-950));

  /* ----------------------- PURPLE COLORS -----------------------> */
  --mps-sys-purple-25: light-dark(var(--mat-purple-25), var(--mat-purple-25));
  --mps-sys-purple-50: light-dark(var(--mat-purple-50), var(--mat-purple-50));
  --mps-sys-purple-100: light-dark(var(--mat-purple-100), var(--mat-purple-100));
  --mps-sys-purple-200: light-dark(var(--mat-purple-200), var(--mat-purple-200));
  --mps-sys-purple-300: light-dark(var(--mat-purple-300), var(--mat-purple-300));
  --mps-sys-purple-400: light-dark(var(--mat-purple-400), var(--mat-purple-400));
  --mps-sys-purple-500: light-dark(var(--mat-purple-500), var(--mat-purple-500));
  --mps-sys-purple-600: light-dark(var(--mat-purple-600), var(--mat-purple-600));
  --mps-sys-purple-700: light-dark(var(--mat-purple-700), var(--mat-purple-700));
  --mps-sys-purple-800: light-dark(var(--mat-purple-800), var(--mat-purple-800));
  --mps-sys-purple-900: light-dark(var(--mat-purple-900), var(--mat-purple-900));
  --mps-sys-purple-925: light-dark(var(--mat-purple-925), var(--mat-purple-925));
  --mps-sys-purple-950: light-dark(var(--mat-purple-950), var(--mat-purple-950));
  --mps-sys-purple-A100: light-dark(var(--mat-purple-A100), var(--mat-purple-A100));
  --mps-sys-purple-A200: light-dark(var(--mat-purple-A200), var(--mat-purple-A200));
  --mps-sys-purple-A400: light-dark(var(--mat-purple-A400), var(--mat-purple-A400));
  --mps-sys-purple-A700: light-dark(var(--mat-purple-A700), var(--mat-purple-A700));

  --mps-sys-purple: light-dark(var(--mat-purple-600), var(--mat-purple-600));
  --mps-sys-on-purple: light-dark(var(--mat-purple-25), var(--mat-purple-25));
  --mps-sys-purple-container: light-dark(var(--mat-purple-400), var(--mat-purple-400));
  --mps-sys-on-purple-container: light-dark(var(--mat-purple-700), var(--mat-purple-700));
  --mps-sys-purple-fixed: light-dark(var(--mat-purple-500), var(--mat-purple-500));
  --mps-sys-on-purple-fixed: light-dark(var(--mat-purple-950), var(--mat-purple-950));
  --mps-sys-purple-fixed-dim: light-dark(var(--mat-purple-600), var(--mat-purple-600));
  --mps-sys-on-purple-fixed-dim: light-dark(var(--mat-purple-950), var(--mat-purple-950));

  /* ----------------------- DEEP PURPLE COLORS -----------------------> */
  --mps-sys-deep-purple-25: light-dark(var(--mat-deep-purple-25), var(--mat-deep-purple-25));
  --mps-sys-deep-purple-50: light-dark(var(--mat-deep-purple-50), var(--mat-deep-purple-50));
  --mps-sys-deep-purple-100: light-dark(var(--mat-deep-purple-100), var(--mat-deep-purple-100));
  --mps-sys-deep-purple-200: light-dark(var(--mat-deep-purple-200), var(--mat-deep-purple-200));
  --mps-sys-deep-purple-300: light-dark(var(--mat-deep-purple-300), var(--mat-deep-purple-300));
  --mps-sys-deep-purple-400: light-dark(var(--mat-deep-purple-400), var(--mat-deep-purple-400));
  --mps-sys-deep-purple-500: light-dark(var(--mat-deep-purple-500), var(--mat-deep-purple-500));
  --mps-sys-deep-purple-600: light-dark(var(--mat-deep-purple-600), var(--mat-deep-purple-600));
  --mps-sys-deep-purple-700: light-dark(var(--mat-deep-purple-700), var(--mat-deep-purple-700));
  --mps-sys-deep-purple-800: light-dark(var(--mat-deep-purple-800), var(--mat-deep-purple-800));
  --mps-sys-deep-purple-900: light-dark(var(--mat-deep-purple-900), var(--mat-deep-purple-900));
  --mps-sys-deep-purple-925: light-dark(var(--mat-deep-purple-925), var(--mat-deep-purple-925));
  --mps-sys-deep-purple-950: light-dark(var(--mat-deep-purple-950), var(--mat-deep-purple-950));
  --mps-sys-deep-purple-A100: light-dark(var(--mat-deep-purple-A100), var(--mat-deep-purple-A100));
  --mps-sys-deep-purple-A200: light-dark(var(--mat-deep-purple-A200), var(--mat-deep-purple-A200));
  --mps-sys-deep-purple-A400: light-dark(var(--mat-deep-purple-A400), var(--mat-deep-purple-A400));
  --mps-sys-deep-purple-A700: light-dark(var(--mat-deep-purple-A700), var(--mat-deep-purple-A700));

  --mps-sys-deep-purple: light-dark(var(--mat-deep-purple-600), var(--mat-deep-purple-600));
  --mps-sys-on-deep-purple: light-dark(var(--mat-deep-purple-25), var(--mat-deep-purple-25));
  --mps-sys-deep-purple-container: light-dark(var(--mat-deep-purple-400), var(--mat-deep-purple-400));
  --mps-sys-on-deep-purple-container: light-dark(var(--mat-deep-purple-700), var(--mat-deep-purple-700));
  --mps-sys-deep-purple-fixed: light-dark(var(--mat-deep-purple-500), var(--mat-deep-purple-500));
  --mps-sys-on-deep-purple-fixed: light-dark(var(--mat-deep-purple-950), var(--mat-deep-purple-950));
  --mps-sys-deep-purple-fixed-dim: light-dark(var(--mat-deep-purple-600), var(--mat-deep-purple-600));
  --mps-sys-on-deep-purple-fixed-dim: light-dark(var(--mat-deep-purple-950), var(--mat-deep-purple-950));

   /* ----------------------- INDIGO COLORS -----------------------> */
  --mps-sys-indigo-25: light-dark(var(--mat-indigo-25), var(--mat-indigo-25));
  --mps-sys-indigo-50: light-dark(var(--mat-indigo-50), var(--mat-indigo-50));
  --mps-sys-indigo-100: light-dark(var(--mat-indigo-100), var(--mat-indigo-100));
  --mps-sys-indigo-200: light-dark(var(--mat-indigo-200), var(--mat-indigo-200));
  --mps-sys-indigo-300: light-dark(var(--mat-indigo-300), var(--mat-indigo-300));
  --mps-sys-indigo-400: light-dark(var(--mat-indigo-400), var(--mat-indigo-400));
  --mps-sys-indigo-500: light-dark(var(--mat-indigo-500), var(--mat-indigo-500));
  --mps-sys-indigo-600: light-dark(var(--mat-indigo-600), var(--mat-indigo-600));
  --mps-sys-indigo-700: light-dark(var(--mat-indigo-700), var(--mat-indigo-700));
  --mps-sys-indigo-800: light-dark(var(--mat-indigo-800), var(--mat-indigo-800));
  --mps-sys-indigo-900: light-dark(var(--mat-indigo-900), var(--mat-indigo-900));
  --mps-sys-indigo-925: light-dark(var(--mat-indigo-925), var(--mat-indigo-925));
  --mps-sys-indigo-950: light-dark(var(--mat-indigo-950), var(--mat-indigo-950));
  --mps-sys-indigo-A100: light-dark(var(--mat-indigo-A100), var(--mat-indigo-A100));
  --mps-sys-indigo-A200: light-dark(var(--mat-indigo-A200), var(--mat-indigo-A200));
  --mps-sys-indigo-A400: light-dark(var(--mat-indigo-A400), var(--mat-indigo-A400));
  --mps-sys-indigo-A700: light-dark(var(--mat-indigo-A700), var(--mat-indigo-A700));

  --mps-sys-indigo: light-dark(var(--mat-indigo-600), var(--mat-indigo-600));
  --mps-sys-on-indigo: light-dark(var(--mat-indigo-25), var(--mat-indigo-25));
  --mps-sys-indigo-container: light-dark(var(--mat-indigo-400), var(--mat-indigo-400));
  --mps-sys-on-indigo-container: light-dark(var(--mat-indigo-700), var(--mat-indigo-700));
  --mps-sys-indigo-fixed: light-dark(var(--mat-indigo-500), var(--mat-indigo-500));
  --mps-sys-on-indigo-fixed: light-dark(var(--mat-indigo-950), var(--mat-indigo-950));
  --mps-sys-indigo-fixed-dim: light-dark(var(--mat-indigo-600), var(--mat-indigo-600));
  --mps-sys-on-indigo-fixed-dim: light-dark(var(--mat-indigo-950), var(--mat-indigo-950));

  /* ----------------------- LIGHT BLUE COLORS -----------------------> */
  --mps-sys-light-blue-25: light-dark(var(--mat-light-blue-25), var(--mat-light-blue-25));
  --mps-sys-light-blue-50: light-dark(var(--mat-light-blue-50), var(--mat-light-blue-50));
  --mps-sys-light-blue-100: light-dark(var(--mat-light-blue-100), var(--mat-light-blue-100));
  --mps-sys-light-blue-200: light-dark(var(--mat-light-blue-200), var(--mat-light-blue-200));
  --mps-sys-light-blue-300: light-dark(var(--mat-light-blue-300), var(--mat-light-blue-300));
  --mps-sys-light-blue-400: light-dark(var(--mat-light-blue-400), var(--mat-light-blue-400));
  --mps-sys-light-blue-500: light-dark(var(--mat-light-blue-500), var(--mat-light-blue-500));
  --mps-sys-light-blue-600: light-dark(var(--mat-light-blue-600), var(--mat-light-blue-600));
  --mps-sys-light-blue-700: light-dark(var(--mat-light-blue-700), var(--mat-light-blue-700));
  --mps-sys-light-blue-800: light-dark(var(--mat-light-blue-800), var(--mat-light-blue-800));
  --mps-sys-light-blue-900: light-dark(var(--mat-light-blue-900), var(--mat-light-blue-900));
  --mps-sys-light-blue-925: light-dark(var(--mat-light-blue-925), var(--mat-light-blue-925));
  --mps-sys-light-blue-950: light-dark(var(--mat-light-blue-950), var(--mat-light-blue-950));
  --mps-sys-light-blue-A100: light-dark(var(--mat-light-blue-A100), var(--mat-light-blue-A100));
  --mps-sys-light-blue-A200: light-dark(var(--mat-light-blue-A200), var(--mat-light-blue-A200));
  --mps-sys-light-blue-A400: light-dark(var(--mat-light-blue-A400), var(--mat-light-blue-A400));
  --mps-sys-light-blue-A700: light-dark(var(--mat-light-blue-A700), var(--mat-light-blue-A700));

  --mps-sys-light-blue: light-dark(var(--mat-light-blue-600), var(--mat-light-blue-600));
  --mps-sys-on-light-blue: light-dark(var(--mat-light-blue-25), var(--mat-light-blue-25));
  --mps-sys-light-blue-container: light-dark(var(--mat-light-blue-400), var(--mat-light-blue-400));
  --mps-sys-on-light-blue-container: light-dark(var(--mat-light-blue-700), var(--mat-light-blue-700));
  --mps-sys-light-blue-fixed: light-dark(var(--mat-light-blue-500), var(--mat-light-blue-500));
  --mps-sys-on-light-blue-fixed: light-dark(var(--mat-light-blue-950), var(--mat-light-blue-950));
  --mps-sys-light-blue-fixed-dim: light-dark(var(--mat-light-blue-600), var(--mat-light-blue-600));
  --mps-sys-on-light-blue-fixed-dim: light-dark(var(--mat-light-blue-950), var(--mat-light-blue-950));

  /* ----------------------- CYAN COLORS -----------------------> */
  --mps-sys-cyan-25: light-dark(var(--mat-cyan-25), var(--mat-cyan-25));
  --mps-sys-cyan-50: light-dark(var(--mat-cyan-50), var(--mat-cyan-50));
  --mps-sys-cyan-100: light-dark(var(--mat-cyan-100), var(--mat-cyan-100));
  --mps-sys-cyan-200: light-dark(var(--mat-cyan-200), var(--mat-cyan-200));
  --mps-sys-cyan-300: light-dark(var(--mat-cyan-300), var(--mat-cyan-300));
  --mps-sys-cyan-400: light-dark(var(--mat-cyan-400), var(--mat-cyan-400));
  --mps-sys-cyan-500: light-dark(var(--mat-cyan-500), var(--mat-cyan-500));
  --mps-sys-cyan-600: light-dark(var(--mat-cyan-600), var(--mat-cyan-600));
  --mps-sys-cyan-700: light-dark(var(--mat-cyan-700), var(--mat-cyan-700));
  --mps-sys-cyan-800: light-dark(var(--mat-cyan-800), var(--mat-cyan-800));
  --mps-sys-cyan-900: light-dark(var(--mat-cyan-900), var(--mat-cyan-900));
  --mps-sys-cyan-925: light-dark(var(--mat-cyan-925), var(--mat-cyan-925));
  --mps-sys-cyan-950: light-dark(var(--mat-cyan-950), var(--mat-cyan-950));
  --mps-sys-cyan-A100: light-dark(var(--mat-cyan-A100), var(--mat-cyan-A100));
  --mps-sys-cyan-A200: light-dark(var(--mat-cyan-A200), var(--mat-cyan-A200));
  --mps-sys-cyan-A400: light-dark(var(--mat-cyan-A400), var(--mat-cyan-A400));
  --mps-sys-cyan-A700: light-dark(var(--mat-cyan-A700), var(--mat-cyan-A700));

  --mps-sys-cyan: light-dark(var(--mat-cyan-600), var(--mat-cyan-600));
  --mps-sys-on-cyan: light-dark(var(--mat-cyan-25), var(--mat-cyan-25));
  --mps-sys-cyan-container: light-dark(var(--mat-cyan-400), var(--mat-cyan-400));
  --mps-sys-on-cyan-container: light-dark(var(--mat-cyan-700), var(--mat-cyan-700));
  --mps-sys-cyan-fixed: light-dark(var(--mat-cyan-500), var(--mat-cyan-500));
  --mps-sys-on-cyan-fixed: light-dark(var(--mat-cyan-950), var(--mat-cyan-950));
  --mps-sys-cyan-fixed-dim: light-dark(var(--mat-cyan-600), var(--mat-cyan-600));
  --mps-sys-on-cyan-fixed-dim: light-dark(var(--mat-cyan-950), var(--mat-cyan-950));

  /* ----------------------- TEAL COLORS -----------------------> */
  --mps-sys-teal-25: light-dark(var(--mat-teal-25), var(--mat-teal-25));
  --mps-sys-teal-50: light-dark(var(--mat-teal-50), var(--mat-teal-50));
  --mps-sys-teal-100: light-dark(var(--mat-teal-100), var(--mat-teal-100));
  --mps-sys-teal-200: light-dark(var(--mat-teal-200), var(--mat-teal-200));
  --mps-sys-teal-300: light-dark(var(--mat-teal-300), var(--mat-teal-300));
  --mps-sys-teal-400: light-dark(var(--mat-teal-400), var(--mat-teal-400));
  --mps-sys-teal-500: light-dark(var(--mat-teal-500), var(--mat-teal-500));
  --mps-sys-teal-600: light-dark(var(--mat-teal-600), var(--mat-teal-600));
  --mps-sys-teal-700: light-dark(var(--mat-teal-700), var(--mat-teal-700));
  --mps-sys-teal-800: light-dark(var(--mat-teal-800), var(--mat-teal-800));
  --mps-sys-teal-900: light-dark(var(--mat-teal-900), var(--mat-teal-900));
  --mps-sys-teal-925: light-dark(var(--mat-teal-925), var(--mat-teal-925));
  --mps-sys-teal-950: light-dark(var(--mat-teal-950), var(--mat-teal-950));
  --mps-sys-teal-A100: light-dark(var(--mat-teal-A100), var(--mat-teal-A100));
  --mps-sys-teal-A200: light-dark(var(--mat-teal-A200), var(--mat-teal-A200));
  --mps-sys-teal-A400: light-dark(var(--mat-teal-A400), var(--mat-teal-A400));
  --mps-sys-teal-A700: light-dark(var(--mat-teal-A700), var(--mat-teal-A700));

  --mps-sys-teal: light-dark(var(--mat-teal-600), var(--mat-teal-600));
  --mps-sys-on-teal: light-dark(var(--mat-teal-25), var(--mat-teal-25));
  --mps-sys-teal-container: light-dark(var(--mat-teal-400), var(--mat-teal-400));
  --mps-sys-on-teal-container: light-dark(var(--mat-teal-700), var(--mat-teal-700));
  --mps-sys-teal-fixed: light-dark(var(--mat-teal-500), var(--mat-teal-500));
  --mps-sys-on-teal-fixed: light-dark(var(--mat-teal-950), var(--mat-teal-950));
  --mps-sys-teal-fixed-dim: light-dark(var(--mat-teal-600), var(--mat-teal-600));
  --mps-sys-on-teal-fixed-dim: light-dark(var(--mat-teal-950), var(--mat-teal-950));

  /* ----------------------- LIGHT-GREEN COLORS -----------------------> */
  --mps-sys-light-green-25: light-dark(var(--mat-light-green-25), var(--mat-light-green-25));
  --mps-sys-light-green-50: light-dark(var(--mat-light-green-50), var(--mat-light-green-50));
  --mps-sys-light-green-100: light-dark(var(--mat-light-green-100), var(--mat-light-green-100));
  --mps-sys-light-green-200: light-dark(var(--mat-light-green-200), var(--mat-light-green-200));
  --mps-sys-light-green-300: light-dark(var(--mat-light-green-300), var(--mat-light-green-300));
  --mps-sys-light-green-400: light-dark(var(--mat-light-green-400), var(--mat-light-green-400));
  --mps-sys-light-green-500: light-dark(var(--mat-light-green-500), var(--mat-light-green-500));
  --mps-sys-light-green-600: light-dark(var(--mat-light-green-600), var(--mat-light-green-600));
  --mps-sys-light-green-700: light-dark(var(--mat-light-green-700), var(--mat-light-green-700));
  --mps-sys-light-green-800: light-dark(var(--mat-light-green-800), var(--mat-light-green-800));
  --mps-sys-light-green-900: light-dark(var(--mat-light-green-900), var(--mat-light-green-900));
  --mps-sys-light-green-925: light-dark(var(--mat-light-green-925), var(--mat-light-green-925));
  --mps-sys-light-green-950: light-dark(var(--mat-light-green-950), var(--mat-light-green-950));
  --mps-sys-light-green-A100: light-dark(var(--mat-light-green-A100), var(--mat-light-green-A100));
  --mps-sys-light-green-A200: light-dark(var(--mat-light-green-A200), var(--mat-light-green-A200));
  --mps-sys-light-green-A400: light-dark(var(--mat-light-green-A400), var(--mat-light-green-A400));
  --mps-sys-light-green-A700: light-dark(var(--mat-light-green-A700), var(--mat-light-green-A700));

  --mps-sys-light-green: light-dark(var(--mat-light-green-600), var(--mat-light-green-600));
  --mps-sys-on-light-green: light-dark(var(--mat-light-green-25), var(--mat-light-green-25));
  --mps-sys-light-green-container: light-dark(var(--mat-light-green-400), var(--mat-light-green-400));
  --mps-sys-on-light-green-container: light-dark(var(--mat-light-green-700), var(--mat-light-green-700));
  --mps-sys-light-green-fixed: light-dark(var(--mat-light-green-500), var(--mat-light-green-500));
  --mps-sys-on-light-green-fixed: light-dark(var(--mat-light-green-950), var(--mat-light-green-950));
  --mps-sys-light-green-fixed-dim: light-dark(var(--mat-light-green-600), var(--mat-light-green-600));
  --mps-sys-on-light-green-fixed-dim: light-dark(var(--mat-light-green-950), var(--mat-light-green-950));

  /* ----------------------- LIME COLORS -----------------------> */
  --mps-sys-lime-25: light-dark(var(--mat-lime-25), var(--mat-lime-25));
  --mps-sys-lime-50: light-dark(var(--mat-lime-50), var(--mat-lime-50));
  --mps-sys-lime-100: light-dark(var(--mat-lime-100), var(--mat-lime-100));
  --mps-sys-lime-200: light-dark(var(--mat-lime-200), var(--mat-lime-200));
  --mps-sys-lime-300: light-dark(var(--mat-lime-300), var(--mat-lime-300));
  --mps-sys-lime-400: light-dark(var(--mat-lime-400), var(--mat-lime-400));
  --mps-sys-lime-500: light-dark(var(--mat-lime-500), var(--mat-lime-500));
  --mps-sys-lime-600: light-dark(var(--mat-lime-600), var(--mat-lime-600));
  --mps-sys-lime-700: light-dark(var(--mat-lime-700), var(--mat-lime-700));
  --mps-sys-lime-800: light-dark(var(--mat-lime-800), var(--mat-lime-800));
  --mps-sys-lime-900: light-dark(var(--mat-lime-900), var(--mat-lime-900));
  --mps-sys-lime-925: light-dark(var(--mat-lime-925), var(--mat-lime-925));
  --mps-sys-lime-950: light-dark(var(--mat-lime-950), var(--mat-lime-950));
  --mps-sys-lime-A100: light-dark(var(--mat-lime-A100), var(--mat-lime-A100));
  --mps-sys-lime-A200: light-dark(var(--mat-lime-A200), var(--mat-lime-A200));
  --mps-sys-lime-A400: light-dark(var(--mat-lime-A400), var(--mat-lime-A400));
  --mps-sys-lime-A700: light-dark(var(--mat-lime-A700), var(--mat-lime-A700));

  --mps-sys-lime: light-dark(var(--mat-lime-600), var(--mat-lime-600));
  --mps-sys-on-lime: light-dark(var(--mat-lime-25), var(--mat-lime-25));
  --mps-sys-lime-container: light-dark(var(--mat-lime-400), var(--mat-lime-400));
  --mps-sys-on-lime-container: light-dark(var(--mat-lime-700), var(--mat-lime-700));
  --mps-sys-lime-fixed: light-dark(var(--mat-lime-500), var(--mat-lime-500));
  --mps-sys-on-lime-fixed: light-dark(var(--mat-lime-950), var(--mat-lime-950));
  --mps-sys-lime-fixed-dim: light-dark(var(--mat-lime-600), var(--mat-lime-600));
  --mps-sys-on-lime-fixed-dim: light-dark(var(--mat-lime-950), var(--mat-lime-950));

  /* ----------------------- YELLOW COLORS -----------------------> */
  --mps-sys-yellow-25: light-dark(var(--mat-yellow-25), var(--mat-yellow-25));
  --mps-sys-yellow-50: light-dark(var(--mat-yellow-50), var(--mat-yellow-50));
  --mps-sys-yellow-100: light-dark(var(--mat-yellow-100), var(--mat-yellow-100));
  --mps-sys-yellow-200: light-dark(var(--mat-yellow-200), var(--mat-yellow-200));
  --mps-sys-yellow-300: light-dark(var(--mat-yellow-300), var(--mat-yellow-300));
  --mps-sys-yellow-400: light-dark(var(--mat-yellow-400), var(--mat-yellow-400));
  --mps-sys-yellow-500: light-dark(var(--mat-yellow-500), var(--mat-yellow-500));
  --mps-sys-yellow-600: light-dark(var(--mat-yellow-600), var(--mat-yellow-600));
  --mps-sys-yellow-700: light-dark(var(--mat-yellow-700), var(--mat-yellow-700));
  --mps-sys-yellow-800: light-dark(var(--mat-yellow-800), var(--mat-yellow-800));
  --mps-sys-yellow-900: light-dark(var(--mat-yellow-900), var(--mat-yellow-900));
  --mps-sys-yellow-925: light-dark(var(--mat-yellow-925), var(--mat-yellow-925));
  --mps-sys-yellow-950: light-dark(var(--mat-yellow-950), var(--mat-yellow-950));
  --mps-sys-yellow-A100: light-dark(var(--mat-yellow-A100), var(--mat-yellow-A100));
  --mps-sys-yellow-A200: light-dark(var(--mat-yellow-A200), var(--mat-yellow-A200));
  --mps-sys-yellow-A400: light-dark(var(--mat-yellow-A400), var(--mat-yellow-A400));
  --mps-sys-yellow-A700: light-dark(var(--mat-yellow-A700), var(--mat-yellow-A700));

  --mps-sys-yellow: light-dark(var(--mat-yellow-600), var(--mat-yellow-600));
  --mps-sys-on-yellow: light-dark(var(--mat-yellow-25), var(--mat-yellow-25));
  --mps-sys-yellow-container: light-dark(var(--mat-yellow-400), var(--mat-yellow-400));
  --mps-sys-on-yellow-container: light-dark(var(--mat-yellow-700), var(--mat-yellow-700));
  --mps-sys-yellow-fixed: light-dark(var(--mat-yellow-500), var(--mat-yellow-500));
  --mps-sys-on-yellow-fixed: light-dark(var(--mat-yellow-950), var(--mat-yellow-950));
  --mps-sys-yellow-fixed-dim: light-dark(var(--mat-yellow-600), var(--mat-yellow-600));
  --mps-sys-on-yellow-fixed-dim: light-dark(var(--mat-yellow-950), var(--mat-yellow-950));

  /* ----------------------- AMBER COLORS -----------------------> */
  --mps-sys-amber-25: light-dark(var(--mat-amber-25), var(--mat-amber-25));
  --mps-sys-amber-50: light-dark(var(--mat-amber-50), var(--mat-amber-50));
  --mps-sys-amber-100: light-dark(var(--mat-amber-100), var(--mat-amber-100));
  --mps-sys-amber-200: light-dark(var(--mat-amber-200), var(--mat-amber-200));
  --mps-sys-amber-300: light-dark(var(--mat-amber-300), var(--mat-amber-300));
  --mps-sys-amber-400: light-dark(var(--mat-amber-400), var(--mat-amber-400));
  --mps-sys-amber-500: light-dark(var(--mat-amber-500), var(--mat-amber-500));
  --mps-sys-amber-600: light-dark(var(--mat-amber-600), var(--mat-amber-600));
  --mps-sys-amber-700: light-dark(var(--mat-amber-700), var(--mat-amber-700));
  --mps-sys-amber-800: light-dark(var(--mat-amber-800), var(--mat-amber-800));
  --mps-sys-amber-900: light-dark(var(--mat-amber-900), var(--mat-amber-900));
  --mps-sys-amber-925: light-dark(var(--mat-amber-925), var(--mat-amber-925));
  --mps-sys-amber-950: light-dark(var(--mat-amber-950), var(--mat-amber-950));
  --mps-sys-amber-A100: light-dark(var(--mat-amber-A100), var(--mat-amber-A100));
  --mps-sys-amber-A200: light-dark(var(--mat-amber-A200), var(--mat-amber-A200));
  --mps-sys-amber-A400: light-dark(var(--mat-amber-A400), var(--mat-amber-A400));
  --mps-sys-amber-A700: light-dark(var(--mat-amber-A700), var(--mat-amber-A700));

  --mps-sys-amber: light-dark(var(--mat-amber-600), var(--mat-amber-600));
  --mps-sys-on-amber: light-dark(var(--mat-amber-25), var(--mat-amber-25));
  --mps-sys-amber-container: light-dark(var(--mat-amber-400), var(--mat-amber-400));
  --mps-sys-on-amber-container: light-dark(var(--mat-amber-700), var(--mat-amber-700));
  --mps-sys-amber-fixed: light-dark(var(--mat-amber-500), var(--mat-amber-500));
  --mps-sys-on-amber-fixed: light-dark(var(--mat-amber-950), var(--mat-amber-950));
  --mps-sys-amber-fixed-dim: light-dark(var(--mat-amber-600), var(--mat-amber-600));
  --mps-sys-on-amber-fixed-dim: light-dark(var(--mat-amber-950), var(--mat-amber-950));

  /* ----------------------- DEEP-ORANGE COLORS -----------------------> */
  --mps-sys-deep-orange-25: light-dark(var(--mat-deep-orange-25), var(--mat-deep-orange-25));
  --mps-sys-deep-orange-50: light-dark(var(--mat-deep-orange-50), var(--mat-deep-orange-50));
  --mps-sys-deep-orange-100: light-dark(var(--mat-deep-orange-100), var(--mat-deep-orange-100));
  --mps-sys-deep-orange-200: light-dark(var(--mat-deep-orange-200), var(--mat-deep-orange-200));
  --mps-sys-deep-orange-300: light-dark(var(--mat-deep-orange-300), var(--mat-deep-orange-300));
  --mps-sys-deep-orange-400: light-dark(var(--mat-deep-orange-400), var(--mat-deep-orange-400));
  --mps-sys-deep-orange-500: light-dark(var(--mat-deep-orange-500), var(--mat-deep-orange-500));
  --mps-sys-deep-orange-600: light-dark(var(--mat-deep-orange-600), var(--mat-deep-orange-600));
  --mps-sys-deep-orange-700: light-dark(var(--mat-deep-orange-700), var(--mat-deep-orange-700));
  --mps-sys-deep-orange-800: light-dark(var(--mat-deep-orange-800), var(--mat-deep-orange-800));
  --mps-sys-deep-orange-900: light-dark(var(--mat-deep-orange-900), var(--mat-deep-orange-900));
  --mps-sys-deep-orange-925: light-dark(var(--mat-deep-orange-925), var(--mat-deep-orange-925));
  --mps-sys-deep-orange-950: light-dark(var(--mat-deep-orange-950), var(--mat-deep-orange-950));
  --mps-sys-deep-orange-A100: light-dark(var(--mat-deep-orange-A100), var(--mat-deep-orange-A100));
  --mps-sys-deep-orange-A200: light-dark(var(--mat-deep-orange-A200), var(--mat-deep-orange-A200));
  --mps-sys-deep-orange-A400: light-dark(var(--mat-deep-orange-A400), var(--mat-deep-orange-A400));
  --mps-sys-deep-orange-A700: light-dark(var(--mat-deep-orange-A700), var(--mat-deep-orange-A700));

  --mps-sys-deep-orange: light-dark(var(--mat-deep-orange-600), var(--mat-deep-orange-600));
  --mps-sys-on-deep-orange: light-dark(var(--mat-deep-orange-25), var(--mat-deep-orange-25));
  --mps-sys-deep-orange-container: light-dark(var(--mat-deep-orange-400), var(--mat-deep-orange-400));
  --mps-sys-on-deep-orange-container: light-dark(var(--mat-deep-orange-700), var(--mat-deep-orange-700));
  --mps-sys-deep-orange-fixed: light-dark(var(--mat-deep-orange-500), var(--mat-deep-orange-500));
  --mps-sys-on-deep-orange-fixed: light-dark(var(--mat-deep-orange-950), var(--mat-deep-orange-950));
  --mps-sys-deep-orange-fixed-dim: light-dark(var(--mat-deep-orange-600), var(--mat-deep-orange-600));
  --mps-sys-on-deep-orange-fixed-dim: light-dark(var(--mat-deep-orange-950), var(--mat-deep-orange-950));

  /* ----------------------- BROWN COLORS -----------------------> */
  --mps-sys-brown-25: light-dark(var(--mat-brown-25), var(--mat-brown-25));
  --mps-sys-brown-50: light-dark(var(--mat-brown-50), var(--mat-brown-50));
  --mps-sys-brown-100: light-dark(var(--mat-brown-100), var(--mat-brown-100));
  --mps-sys-brown-200: light-dark(var(--mat-brown-200), var(--mat-brown-200));
  --mps-sys-brown-300: light-dark(var(--mat-brown-300), var(--mat-brown-300));
  --mps-sys-brown-400: light-dark(var(--mat-brown-400), var(--mat-brown-400));
  --mps-sys-brown-500: light-dark(var(--mat-brown-500), var(--mat-brown-500));
  --mps-sys-brown-600: light-dark(var(--mat-brown-600), var(--mat-brown-600));
  --mps-sys-brown-700: light-dark(var(--mat-brown-700), var(--mat-brown-700));
  --mps-sys-brown-800: light-dark(var(--mat-brown-800), var(--mat-brown-800));
  --mps-sys-brown-900: light-dark(var(--mat-brown-900), var(--mat-brown-900));
  --mps-sys-brown-925: light-dark(var(--mat-brown-925), var(--mat-brown-925));
  --mps-sys-brown-950: light-dark(var(--mat-brown-950), var(--mat-brown-950));
  --mps-sys-brown-A100: light-dark(var(--mat-brown-A100), var(--mat-brown-A100));
  --mps-sys-brown-A200: light-dark(var(--mat-brown-A200), var(--mat-brown-A200));
  --mps-sys-brown-A400: light-dark(var(--mat-brown-A400), var(--mat-brown-A400));
  --mps-sys-brown-A700: light-dark(var(--mat-brown-A700), var(--mat-brown-A700));

  --mps-sys-brown: light-dark(var(--mat-brown-600), var(--mat-brown-600));
  --mps-sys-on-brown: light-dark(var(--mat-brown-25), var(--mat-brown-25));
  --mps-sys-brown-container: light-dark(var(--mat-brown-400), var(--mat-brown-400));
  --mps-sys-on-brown-container: light-dark(var(--mat-brown-700), var(--mat-brown-700));
  --mps-sys-brown-fixed: light-dark(var(--mat-brown-500), var(--mat-brown-500));
  --mps-sys-on-brown-fixed: light-dark(var(--mat-brown-950), var(--mat-brown-950));
  --mps-sys-brown-fixed-dim: light-dark(var(--mat-brown-600), var(--mat-brown-600));
  --mps-sys-on-brown-fixed-dim: light-dark(var(--mat-brown-950), var(--mat-brown-950));

  /* ----------------------- SUCCESS COLORS -----------------------> */
  --mps-sys-blue-grey-25: light-dark(var(--mat-blue-grey-25), var(--mat-blue-grey-25));
  --mps-sys-blue-grey-50: light-dark(var(--mat-blue-grey-50), var(--mat-blue-grey-50));
  --mps-sys-blue-grey-100: light-dark(var(--mat-blue-grey-100), var(--mat-blue-grey-100));
  --mps-sys-blue-grey-200: light-dark(var(--mat-blue-grey-200), var(--mat-blue-grey-200));
  --mps-sys-blue-grey-300: light-dark(var(--mat-blue-grey-300), var(--mat-blue-grey-300));
  --mps-sys-blue-grey-400: light-dark(var(--mat-blue-grey-400), var(--mat-blue-grey-400));
  --mps-sys-blue-grey-500: light-dark(var(--mat-blue-grey-500), var(--mat-blue-grey-500));
  --mps-sys-blue-grey-600: light-dark(var(--mat-blue-grey-600), var(--mat-blue-grey-600));
  --mps-sys-blue-grey-700: light-dark(var(--mat-blue-grey-700), var(--mat-blue-grey-700));
  --mps-sys-blue-grey-800: light-dark(var(--mat-blue-grey-800), var(--mat-blue-grey-800));
  --mps-sys-blue-grey-900: light-dark(var(--mat-blue-grey-900), var(--mat-blue-grey-900));
  --mps-sys-blue-grey-925: light-dark(var(--mat-blue-grey-925), var(--mat-blue-grey-925));
  --mps-sys-blue-grey-950: light-dark(var(--mat-blue-grey-950), var(--mat-blue-grey-950));
  --mps-sys-blue-grey-A100: light-dark(var(--mat-blue-grey-A100), var(--mat-blue-grey-A100));
  --mps-sys-blue-grey-A200: light-dark(var(--mat-blue-grey-A200), var(--mat-blue-grey-A200));
  --mps-sys-blue-grey-A400: light-dark(var(--mat-blue-grey-A400), var(--mat-blue-grey-A400));
  --mps-sys-blue-grey-A700: light-dark(var(--mat-blue-grey-A700), var(--mat-blue-grey-A700));

  --mps-sys-blue-grey: light-dark(var(--mat-blue-grey-600), var(--mat-blue-grey-600));
  --mps-sys-on-blue-grey: light-dark(var(--mat-blue-grey-25), var(--mat-blue-grey-25));
  --mps-sys-blue-grey-container: light-dark(var(--mat-blue-grey-400), var(--mat-blue-grey-400));
  --mps-sys-on-blue-grey-container: light-dark(var(--mat-blue-grey-700), var(--mat-blue-grey-700));
  --mps-sys-blue-grey-fixed: light-dark(var(--mat-blue-grey-500), var(--mat-blue-grey-500));
  --mps-sys-on-blue-grey-fixed: light-dark(var(--mat-blue-grey-950), var(--mat-blue-grey-950));
  --mps-sys-blue-grey-fixed-dim: light-dark(var(--mat-blue-grey-600), var(--mat-blue-grey-600));
  --mps-sys-on-blue-grey-fixed-dim: light-dark(var(--mat-blue-grey-950), var(--mat-blue-grey-950));

  /* ------------------------- ERROR COLORS ---------------------> */
  --mps-sys-error-25: light-dark(var(--mat-red-25), var(--mat-red-25));
  --mps-sys-error-50: light-dark(var(--mat-red-50), var(--mat-red-50));
  --mps-sys-error-100: light-dark(var(--mat-red-100), var(--mat-red-100));
  --mps-sys-error-200: light-dark(var(--mat-red-200), var(--mat-red-200));
  --mps-sys-error-300: light-dark(var(--mat-red-300), var(--mat-red-300));
  --mps-sys-error-400: light-dark(var(--mat-red-400), var(--mat-red-400));
  --mps-sys-error-500: light-dark(var(--mat-red-500), var(--mat-red-500));
  --mps-sys-error-600: light-dark(var(--mat-red-600), var(--mat-red-600));
  --mps-sys-error-700: light-dark(var(--mat-red-700), var(--mat-red-700));
  --mps-sys-error-800: light-dark(var(--mat-red-800), var(--mat-red-800));
  --mps-sys-error-900: light-dark(var(--mat-red-900), var(--mat-red-900));
  --mps-sys-error-925: light-dark(var(--mat-red-925), var(--mat-red-925));
  --mps-sys-error-950: light-dark(var(--mat-red-950), var(--mat-red-950));
  --mps-sys-error-A100: light-dark(var(--mat-red-A100), var(--mat-red-A100));
  --mps-sys-error-A200: light-dark(var(--mat-red-A200), var(--mat-red-A200));
  --mps-sys-error-A400: light-dark(var(--mat-red-A400), var(--mat-red-A400));
  --mps-sys-error-A700: light-dark(var(--mat-red-A700), var(--mat-red-A700));

  --mps-sys-error: light-dark(var(--mat-red-600), var(--mat-red-600));
  --mps-sys-on-error: light-dark(var(--mat-red-25), var(--mat-red-25));
  --mps-sys-error-container: light-dark(var(--mat-red-400), var(--mat-red-400));
  --mps-sys-on-error-container: light-dark(var(--mat-red-700), var(--mat-red-700));
  --mps-sys-error-fixed: light-dark(var(--mat-red-500), var(--mat-red-500));
  --mps-sys-on-error-fixed: light-dark(var(--mat-red-950), var(--mat-red-950));
  --mps-sys-error-fixed-dim: light-dark(var(--mat-red-600), var(--mat-red-600));
  --mps-sys-on-error-fixed-dim: light-dark(var(--mat-red-950), var(--mat-red-950));

  /* <----------------------------- INFO COLORS ------------------> */
  --mps-sys-info-25: light-dark(var(--mat-blue-25), var(--mat-blue-25));
  --mps-sys-info-50: light-dark(var(--mat-blue-50), var(--mat-blue-50));
  --mps-sys-info-100: light-dark(var(--mat-blue-100), var(--mat-blue-100));
  --mps-sys-info-200: light-dark(var(--mat-blue-200), var(--mat-blue-200));
  --mps-sys-info-300: light-dark(var(--mat-blue-300), var(--mat-blue-300));
  --mps-sys-info-400: light-dark(var(--mat-blue-400), var(--mat-blue-400));
  --mps-sys-info-500: light-dark(var(--mat-blue-500), var(--mat-blue-500));
  --mps-sys-info-600: light-dark(var(--mat-blue-600), var(--mat-blue-600));
  --mps-sys-info-700: light-dark(var(--mat-blue-700), var(--mat-blue-700));
  --mps-sys-info-800: light-dark(var(--mat-blue-800), var(--mat-blue-800));
  --mps-sys-info-900: light-dark(var(--mat-blue-900), var(--mat-blue-900));
  --mps-sys-info-925: light-dark(var(--mat-blue-925), var(--mat-blue-925));
  --mps-sys-info-950: light-dark(var(--mat-blue-950), var(--mat-blue-950));
  --mps-sys-info-A100: light-dark(var(--mat-blue-A100), var(--mat-blue-A100));
  --mps-sys-info-A200: light-dark(var(--mat-blue-A200), var(--mat-blue-A200));
  --mps-sys-info-A400: light-dark(var(--mat-blue-A400), var(--mat-blue-A400));
  --mps-sys-info-A700: light-dark(var(--mat-blue-A700), var(--mat-blue-A700));

  --mps-sys-info: light-dark(var(--mat-blue-600), var(--mat-blue-600));
  --mps-sys-on-info: light-dark(var(--mat-blue-25), var(--mat-blue-25));
  --mps-sys-info-container: light-dark(var(--mat-blue-400), var(--mat-blue-400));
  --mps-sys-on-info-container: light-dark(var(--mat-blue-700), var(--mat-blue-700));
  --mps-sys-info-fixed: light-dark(var(--mat-blue-500), var(--mat-blue-500));
  --mps-sys-on-info-fixed: light-dark(var(--mat-blue-950), var(--mat-blue-950));
  --mps-sys-info-fixed-dim: light-dark(var(--mat-blue-600), var(--mat-blue-600));
  --mps-sys-on-info-fixed-dim: light-dark(var(--mat-blue-950), var(--mat-blue-950));

  /* ----------------------- WARN COLORS -----------------------> */
  --mps-sys-warn-25: light-dark(var(--mat-orange-25), var(--mat-orange-25));
  --mps-sys-warn-50: light-dark(var(--mat-orange-50), var(--mat-orange-50));
  --mps-sys-warn-100: light-dark(var(--mat-orange-100), var(--mat-orange-100));
  --mps-sys-warn-200: light-dark(var(--mat-orange-200), var(--mat-orange-200));
  --mps-sys-warn-300: light-dark(var(--mat-orange-300), var(--mat-orange-300));
  --mps-sys-warn-400: light-dark(var(--mat-orange-400), var(--mat-orange-400));
  --mps-sys-warn-500: light-dark(var(--mat-orange-500), var(--mat-orange-500));
  --mps-sys-warn-600: light-dark(var(--mat-orange-600), var(--mat-orange-600));
  --mps-sys-warn-700: light-dark(var(--mat-orange-700), var(--mat-orange-700));
  --mps-sys-warn-800: light-dark(var(--mat-orange-800), var(--mat-orange-800));
  --mps-sys-warn-900: light-dark(var(--mat-orange-900), var(--mat-orange-900));
  --mps-sys-warn-925: light-dark(var(--mat-orange-925), var(--mat-orange-925));
  --mps-sys-warn-950: light-dark(var(--mat-orange-950), var(--mat-orange-950));
  --mps-sys-warn-A100: light-dark(var(--mat-orange-A100), var(--mat-orange-A100));
  --mps-sys-warn-A200: light-dark(var(--mat-orange-A200), var(--mat-orange-A200));
  --mps-sys-warn-A400: light-dark(var(--mat-orange-A400), var(--mat-orange-A400));
  --mps-sys-warn-A700: light-dark(var(--mat-orange-A700), var(--mat-orange-A700));

  --mps-sys-warn: light-dark(var(--mat-orange-600), var(--mat-orange-600));
  --mps-sys-on-warn: light-dark(var(--mat-orange-25), var(--mat-orange-25));
  --mps-sys-warn-container: light-dark(var(--mat-orange-400), var(--mat-orange-400));
  --mps-sys-on-warn-container: light-dark(var(--mat-orange-700), var(--mat-orange-700));
  --mps-sys-warn-fixed: light-dark(var(--mat-orange-500), var(--mat-orange-500));
  --mps-sys-on-warn-fixed: light-dark(var(--mat-orange-950), var(--mat-orange-950));
  --mps-sys-warn-fixed-dim: light-dark(var(--mat-orange-600), var(--mat-orange-600));
  --mps-sys-on-warn-fixed-dim: light-dark(var(--mat-orange-950), var(--mat-orange-950));

  /* ----------------------- SUCCESS COLORS -----------------------> */
  --mps-sys-success-25: light-dark(var(--mat-green-25), var(--mat-green-25));
  --mps-sys-success-50: light-dark(var(--mat-green-50), var(--mat-green-50));
  --mps-sys-success-100: light-dark(var(--mat-green-100), var(--mat-green-100));
  --mps-sys-success-200: light-dark(var(--mat-green-200), var(--mat-green-200));
  --mps-sys-success-300: light-dark(var(--mat-green-300), var(--mat-green-300));
  --mps-sys-success-400: light-dark(var(--mat-green-400), var(--mat-green-400));
  --mps-sys-success-500: light-dark(var(--mat-green-500), var(--mat-green-500));
  --mps-sys-success-600: light-dark(var(--mat-green-600), var(--mat-green-600));
  --mps-sys-success-700: light-dark(var(--mat-green-700), var(--mat-green-700));
  --mps-sys-success-800: light-dark(var(--mat-green-800), var(--mat-green-800));
  --mps-sys-success-900: light-dark(var(--mat-green-900), var(--mat-green-900));
  --mps-sys-success-925: light-dark(var(--mat-green-925), var(--mat-green-925));
  --mps-sys-success-950: light-dark(var(--mat-green-950), var(--mat-green-950));
  --mps-sys-success-A100: light-dark(var(--mat-green-A100), var(--mat-green-A100));
  --mps-sys-success-A200: light-dark(var(--mat-green-A200), var(--mat-green-A200));
  --mps-sys-success-A400: light-dark(var(--mat-green-A400), var(--mat-green-A400));
  --mps-sys-success-A700: light-dark(var(--mat-green-A700), var(--mat-green-A700));

  --mps-sys-success: light-dark(var(--mat-green-600), var(--mat-green-600));
  --mps-sys-on-success: light-dark(var(--mat-green-25), var(--mat-green-25));
  --mps-sys-success-container: light-dark(var(--mat-green-400), var(--mat-green-400));
  --mps-sys-on-success-container: light-dark(var(--mat-green-700), var(--mat-green-700));
  --mps-sys-success-fixed: light-dark(var(--mat-green-500), var(--mat-green-500));
  --mps-sys-on-success-fixed: light-dark(var(--mat-green-950), var(--mat-green-950));
  --mps-sys-success-fixed-dim: light-dark(var(--mat-green-600), var(--mat-green-600));
  --mps-sys-on-success-fixed-dim: light-dark(var(--mat-green-950), var(--mat-green-950));
}
