/* ----------------- BACKGROUND -------------------------*/
.mat-bg-primary {
  background-color: var(--mat-sys-primary);
}

.mat-text-primary {
  color: var(--mat-sys-primary);
}

.mat-text-on-primary {
  color: var(--mat-sys-on-primary);
}

.mat-bg-primary-container {
  background-color: var(--mat-sys-primary-container);
}

.mat-text-on-primary-container {
  color: var(--mat-sys-on-primary-container);
}

.mat-bg-secondary {
  background-color: var(--mat-sys-secondary);
}

.mat-text-secondary {
  color: var(--mat-sys-secondary);
}

.mat-text-on-secondary {
  color: var(--mat-sys-on-secondary);
}

.mat-bg-secondary-container {
  background-color: var(--mat-sys-secondary-container);
}

.mat-text-on-secondary-container {
  color: var(--mat-sys-on-secondary-container);
}

.mat-bg-tertiary {
  background-color: var(--mat-sys-tertiary);
}

.mat-text-tertiary {
  color: var(--mat-sys-tertiary);
}

.mat-text-on-tertiary {
  color: var(--mat-sys-on-tertiary);
}

.mat-bg-tertiary-container {
  background-color: var(--mat-sys-tertiary-container);
}

.mat-text-on-tertiary-container {
  color: var(--mat-sys-on-tertiary-container);
}

.mat-bg-surface {
  background-color: var(--mat-sys-surface);
}

.mat-bg-surface-container-highest {
  background-color: var(--mat-sys-surface-container-highest);
}

.mat-bg-surface-container-high {
  background-color: var(--mat-sys-surface-container-high);
}

.mat-bg-surface-container {
  background-color: var(--mat-sys-surface-container);
}

.mat-bg-surface-container-low {
  background-color: var(--mat-sys-surface-container-low);
}

.mat-bg-surface-container-lowest {
  background-color: var(--mat-sys-surface-container-lowest);
}

.mat-bg-inverse-surface {
  background-color: var(--mat-sys-inverse-surface);
}

.mat-text-on-surface-variant {
  color: var(--mat-sys-on-surface-variant);
}

.mat-text-inverse-on-surface {
  color: var(--mat-sys-inverse-on-surface);
}

.mat-bg-disabled {
  background-color: color-mix(in srgb, var(--mat-sys-on-surface) 12%, transparent);
}

.mat-text-disabled {
  color: color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent);
}

.mat-bg-warn {
  background-color: var(--mps-sys-warn);
}

.mat-text-warn {
  color: var(--mat-sys-warn);
}

.mat-text-on-warn {
  color: var(--mat-sys-on-warn);
}

.mat-bg-warn-container {
  background-color: var(--mps-sys-warn-container);
}

.mat-text-on-warn-container {
  color: var(--mat-sys-on-warn-container);
}

.mat-bg-info {
  background-color: var(--mps-sys-info);
}

.mat-text-info {
  color: var(--mat-sys-info);
}

.mat-text-on-info {
  color: var(--mat-sys-on-info);
}

.mat-bg-info-container {
  background-color: var(--mps-sys-info-container);
}

.mat-text-on-info-container {
  color: var(--mat-sys-on-info-container);
}

.mat-bg-success {
  background-color: var(--mps-sys-success);
}

.mat-text-success {
  color: var(--mat-sys-success);
}

.mat-text-on-success {
  color: var(--mat-sys-on-success);
}

.mat-bg-success-container {
  background-color: var(--mps-sys-success-container);
}

.mat-text-on-success-container {
  color: var(--mat-sys-on-success-container);
}

.mat-bg-error {
  background-color: var(--mat-sys-error);
}

.mat-text-error {
  color: var(--mat-sys-error);
}

.mat-text-on-error {
  color: var(--mat-sys-on-error);
}

.mat-bg-error-container {
  background-color: var(--mat-sys-error-container);
}

.mat-text-on-error-container {
  color: var(--mat-sys-on-error-container);
}

/* ----------------- TEXT -------------------------*/

.mat-font-body-sm {
  font: var(--mat-sys-body-small);
  letter-spacing: var(--mat-sys-body-small-tracking);
}

.mat-font-body-md {
  font: var(--mat-sys-body-medium);
  letter-spacing: var(--mat-sys-body-medium-tracking);
}

.mat-font-body-lg {
  font: var(--mat-sys-body-large);
  letter-spacing: var(--mat-sys-body-large-tracking);
}

.mat-font-display-sm {
  font: var(--mat-sys-display-small);
  letter-spacing: var(--mat-sys-display-small-tracking);
}

.mat-font-display-md {
  font: var(--mat-sys-display-medium);
  letter-spacing: var(--mat-sys-display-medium-tracking);
}

.mat-font-display-lg {
  font: var(--mat-sys-display-large);
  letter-spacing: var(--mat-sys-display-large-tracking);
}

.mat-font-headline-sm {
  font: var(--mat-sys-headline-small);
  letter-spacing: var(--mat-sys-headline-small-tracking);
}

.mat-font-headline-md {
  font: var(--mat-sys-headline-medium);
  letter-spacing: var(--mat-sys-headline-medium-tracking);
}

.mat-font-headline-lg {
  font: var(--mat-sys-headline-large);
  letter-spacing: var(--mat-sys-headline-large-tracking);
}

.mat-font-label-sm {
  font: var(--mat-sys-label-small);
  letter-spacing: var(--mat-sys-label-small-tracking);
}

.mat-font-label-md {
  font: var(--mat-sys-label-medium);
  letter-spacing: var(--mat-sys-label-medium-tracking);
}

.mat-font-label-lg {
  font: var(--mat-sys-label-large);
  letter-spacing: var(--mat-sys-label-large-tracking);
}

.mat-font-title-sm {
  font: var(--mat-sys-title-small);
  letter-spacing: var(--mat-sys-title-small-tracking);
}

.mat-font-title-md {
  font: var(--mat-sys-title-medium);
  letter-spacing: var(--mat-sys-title-medium-tracking);
}

.mat-font-title-lg {
  font: var(--mat-sys-title-large);
  letter-spacing: var(--mat-sys-title-large-tracking);
}

.mat-corner-xs {
  border-radius: var(--mat-sys-corner-extra-small);
}

.mat-corner-sm {
  border-radius: var(--mat-sys-corner-small);
}

.mat-corner-md {
  border-radius: var(--mat-sys-corner-medium);
}

.mat-corner-lg {
  border-radius: var(--mat-sys-corner-large);
}

.mat-corner-xl {
  border-radius: var(--mat-sys-corner-extra-large);
}

.mat-corner-full {
  border-radius: var(--mat-sys-corner-full);
}

.mat-border {
  border: 1px solid var(--mat-sys-outline);
}

.mat-border-subtle {
  border: 1px solid var(--mat-sys-outline-variant);
}

.mat-shadow-1 {
  box-shadow: var(--mat-sys-level1);
}

.mat-shadow-2 {
  box-shadow: var(--mat-sys-level2);
}

.mat-shadow-3 {
  box-shadow: var(--mat-sys-level3);
}

.mat-shadow-4 {
  box-shadow: var(--mat-sys-level4);
}

.mat-shadow-5 {
  box-shadow: var(--mat-sys-level5);
}
