<div class="mps-dialog-title flex flex-row items-center justify-start">
  <button matIconButton (click)="onclose()">
    <mat-icon>{{ data?.icon }}</mat-icon>
  </button>
  <h2 mat-dialog-title>{{ data?.title }}</h2>
</div>
<mat-dialog-content>
  <span class="mps-dialog-content h-full flex flex-col justify-center items-center">
    <span class="h-full flex-auto flex flex-col justify-center items-center">
      <p class="mps-dialog-message">{{ data?.message }}</p>
    </span>
    @if (data.actionConfig?.dobbleConfirmation) {
      <mat-checkbox class="self-start" [checked]="confirm" (change)="onConfirmChange($event.checked)">
        <p class="font-mono text-md font-semibold message">{{ data?.actionConfig?.dobbleConfirmationMessage }}</p>
      </mat-checkbox>
    }
  </span>
</mat-dialog-content>
<mat-dialog-actions [align]="'end'">
  @if (data.actionConfig) {
    <button matButton="filled" [class]="`${data?.actionConfig?.actionSeverity} mps-button h-10 min-w-32 text-xl`" [disabled]="!confirm" (click)="onConfirm()">
      <mat-icon>{{ data?.actionConfig?.actionIcon }}</mat-icon>
      <span>{{ data?.actionConfig?.actionText }}</span>
    </button>
  }
  <button matButton="filled" [class]="`${data?.closeSeverity} mps-button h-10 min-w-32 text-xl`" (click)="onclose()">
    <mat-icon>{{ data?.closeIcon }}</mat-icon>
    <span>{{ data.closeText }}</span>
  </button>
</mat-dialog-actions>
