:root {
  --mps-sys-background: #faf9fd;
  --mps-sys-on-background: #1a1b1f;
  --mps-sys-scrim: #000000;
  --mps-sys-shadow: #000000;
  --mps-sys-neutral-variant20: #2d3038;
  --mps-sys-neutral10: #1a1b1f;

  --mps-sys-black: #000000ff;
  --mps-sys-white: #ffffffff;

  --mps-sys-primary-25: #ffffffff;
  --mps-sys-primary-50: #fffbfeff;
  --mps-sys-primary-100: #f6edffff;
  --mps-sys-primary-200: #eaddffff;
  --mps-sys-primary-300: #d0bcffff;
  --mps-sys-primary-400: #b69df8ff;
  --mps-sys-primary-500: #9a82dbff;
  --mps-sys-primary-600: #7f67beff;
  --mps-sys-primary-700: #6750a4ff;
  --mps-sys-primary-800: #4f378bff;
  --mps-sys-primary-900: #381e72ff;
  --mps-sys-primary-925: #21005dff;
  --mps-sys-primary-950: #000000ff;

  --mps-sys-secondary-25: #ffffffff;
  --mps-sys-secondary-50: #fffbfeff;
  --mps-sys-secondary-100: #f6edffff;
  --mps-sys-secondary-200: #e8def8ff;
  --mps-sys-secondary-300: #ccc2dcff;
  --mps-sys-secondary-400: #b0a7c0ff;
  --mps-sys-secondary-500: #958da5ff;
  --mps-sys-secondary-600: #7a7289ff;
  --mps-sys-secondary-700: #625b71ff;
  --mps-sys-secondary-800: #4a4458ff;
  --mps-sys-secondary-900: #332d41ff;
  --mps-sys-secondary-925: #1d192bff;
  --mps-sys-secondary-950: #000000ff;

  --mps-sys-tertiary-25: #ffffffff;
  --mps-sys-tertiary-50: #fffbfaff;
  --mps-sys-tertiary-100: #ffecf1ff;
  --mps-sys-tertiary-200: #ffd8e4ff;
  --mps-sys-tertiary-300: #efb8c8ff;
  --mps-sys-tertiary-400: #d29dacff;
  --mps-sys-tertiary-500: #b58392ff;
  --mps-sys-tertiary-600: #986977ff;
  --mps-sys-tertiary-700: #7d5260ff;
  --mps-sys-tertiary-800: #633b48ff;
  --mps-sys-tertiary-900: #492532ff;
  --mps-sys-tertiary-925: #31111dff;
  --mps-sys-tertiary-950: #000000ff;

  --mps-sys-neutral-25: #fffbfeff;
  --mps-sys-neutral-50: #f4eff4ff;
  --mps-sys-neutral-100: #e6e1e5ff;
  --mps-sys-neutral-200: #c9c5caff;
  --mps-sys-neutral-300: #aeaaaeff;
  --mps-sys-neutral-400: #939094ff;
  --mps-sys-neutral-500: #787579ff;
  --mps-sys-neutral-600: #605d62ff;
  --mps-sys-neutral-700: #484649ff;
  --mps-sys-neutral-800: #313033ff;
  --mps-sys-neutral-900: #1c1b1fff;
  --mps-sys-neutral-950: #000000ff;

  --mps-sys-neutral-variant-25: #fffbfeff;
  --mps-sys-neutral-variant-50: #f5eefaff;
  --mps-sys-neutral-variant-100: #e7e0ecff;
  --mps-sys-neutral-variant-200: #cac4d0ff;
  --mps-sys-neutral-variant-300: #aea9b4ff;
  --mps-sys-neutral-variant-400: #938f99ff;
  --mps-sys-neutral-variant-500: #79747eff;
  --mps-sys-neutral-variant-600: #605d66ff;
  --mps-sys-neutral-variant-700: #49454fff;
  --mps-sys-neutral-variant-800: #322f37ff;
  --mps-sys-neutral-variant-900: #1d1a22ff;
  --mps-sys-neutral-variant-950: #000000ff;

  --mps-sys-red-50: #ffebee;
  --mps-sys-red-100: #ffcdd2;
  --mps-sys-red-200: #ef9a9a;
  --mps-sys-red-300: #e57373;
  --mps-sys-red-400: #ef5350;
  --mps-sys-red-500: #f44336;
  --mps-sys-red-600: #e53935;
  --mps-sys-red-700: #d32f2f;
  --mps-sys-red-800: #c62828;
  --mps-sys-red-900: #b71c1c;
  --mp-red-A100: #ff8a80;
  --mp-red-A200: #ff5252;
  --mp-red-A400: #ff1744;
  --mp-red-A700: #d50000;

  --mps-sys-pink-50: #fce4ec;
  --mps-sys-pink-100: #f8bbd0;
  --mps-sys-pink-200: #f48fb1;
  --mps-sys-pink-300: #f06292;
  --mps-sys-pink-400: #ec407a;
  --mps-sys-pink-500: #e91e63;
  --mps-sys-pink-600: #d81b60;
  --mps-sys-pink-700: #c2185b;
  --mps-sys-pink-800: #ad1457;
  --mps-sys-pink-900: #880e4f;
  --mps-sys-pink-A100: #ff80ab;
  --mps-sys-pink-A200: #ff4081;
  --mps-sys-pink-A400: #f50057;
  --mps-sys-pink-A700: #c51162;

  --mps-sys-purple-50: #f3e5f5;
  --mps-sys-purple-100: #e1bee7;
  --mps-sys-purple-200: #ce93d8;
  --mps-sys-purple-300: #ba68c8;
  --mps-sys-purple-400: #ab47bc;
  --mps-sys-purple-500: #9c27b0;
  --mps-sys-purple-600: #8e24aa;
  --mps-sys-purple-700: #7b1fa2;
  --mps-sys-purple-800: #6a1b9a;
  --mps-sys-purple-900: #4a148c;
  --mps-sys-purple-A100: #ea80fc;
  --mps-sys-purple-A200: #e040fb;
  --mps-sys-purple-A400: #d500f9;
  --mps-sys-purple-A700: #aa00ff;

  --mps-sys-deep-purple-50: #ede7f6;
  --mps-sys-deep-purple-100: #d1c4e9;
  --mps-sys-deep-purple-200: #b39ddb;
  --mps-sys-deep-purple-300: #9575cd;
  --mps-sys-deep-purple-400: #7e57c2;
  --mps-sys-deep-purple-500: #673ab7;
  --mps-sys-deep-purple-600: #5e35b1;
  --mps-sys-deep-purple-700: #512da8;
  --mps-sys-deep-purple-800: #4527a0;
  --mps-sys-deep-purple-900: #311b92;
  --mps-sys-deep-purple-A100: #b388ff;
  --mps-sys-deep-purple-A200: #7c4dff;
  --mps-sys-deep-purple-A400: #651fff;
  --mps-sys-deep-purple-A700: #6200ea;

  --mps-sys-indigo-50: #e8eaf6;
  --mps-sys-indigo-100: #c5cae9;
  --mps-sys-indigo-200: #9fa8da;
  --mps-sys-indigo-300: #7986cb;
  --mps-sys-indigo-400: #5c6bc0;
  --mps-sys-indigo-500: #3f51b5;
  --mps-sys-indigo-600: #3949ab;
  --mps-sys-indigo-700: #303f9f;
  --mps-sys-indigo-800: #283593;
  --mps-sys-indigo-900: #1a237e;
  --mps-sys-indigo-A100: #8c9eff;
  --mps-sys-indigo-A200: #536dfe;
  --mps-sys-indigo-A400: #3d5afe;
  --mps-sys-indigo-A700: #304ffe;

  --mps-sys-blue-50: #e3f2fd;
  --mps-sys-blue-100: #bbdefb;
  --mps-sys-blue-200: #90caf9;
  --mps-sys-blue-300: #64b5f6;
  --mps-sys-blue-400: #42a5f5;
  --mps-sys-blue-500: #2196f3;
  --mps-sys-blue-600: #1e88e5;
  --mps-sys-blue-700: #1976d2;
  --mps-sys-blue-800: #1565c0;
  --mps-sys-blue-900: #0d47a1;
  --mps-sys-blue-A100: #82b1ff;
  --mps-sys-blue-A200: #448aff;
  --mps-sys-blue-A400: #2979ff;
  --mps-sys-blue-A700: #2962ff;

  --mps-sys-light-blue-50: #e1f5fe;
  --mps-sys-light-blue-100: #b3e5fc;
  --mps-sys-light-blue-200: #81d4fa;
  --mps-sys-light-blue-300: #4fc3f7;
  --mps-sys-light-blue-400: #29b6f6;
  --mps-sys-light-blue-500: #03a9f4;
  --mps-sys-light-blue-600: #039be5;
  --mps-sys-light-blue-700: #0288d1;
  --mps-sys-light-blue-800: #0277bd;
  --mps-sys-light-blue-900: #01579b;
  --mps-sys-light-blue-A100: #80d8ff;
  --mps-sys-light-blue-A200: #40c4ff;
  --mps-sys-light-blue-A400: #00b0ff;
  --mps-sys-light-blue-A700: #0091ea;

  --mps-sys-cyan-50: #e0f7fa;
  --mps-sys-cyan-100: #b2ebf2;
  --mps-sys-cyan-200: #80deea;
  --mps-sys-cyan-300: #4dd0e1;
  --mps-sys-cyan-400: #26c6da;
  --mps-sys-cyan-500: #00bcd4;
  --mps-sys-cyan-600: #00acc1;
  --mps-sys-cyan-700: #0097a7;
  --mps-sys-cyan-800: #00838f;
  --mps-sys-cyan-900: #006064;
  --mps-sys-cyan-A100: #84ffff;
  --mps-sys-cyan-A200: #18ffff;
  --mps-sys-cyan-A400: #00e5ff;
  --mps-sys-cyan-A700: #00b8d4;

  --mps-sys-teal-50: #e0f2f1;
  --mps-sys-teal-100: #b2dfdb;
  --mps-sys-teal-200: #80cbc4;
  --mps-sys-teal-300: #4db6ac;
  --mps-sys-teal-400: #26a69a;
  --mps-sys-teal-500: #009688;
  --mps-sys-teal-600: #00897b;
  --mps-sys-teal-700: #00796b;
  --mps-sys-teal-800: #00695c;
  --mps-sys-teal-900: #004d40;
  --mps-sys-teal-A100: #a7ffeb;
  --mps-sys-teal-A200: #64ffda;
  --mps-sys-teal-A400: #1de9b6;
  --mps-sys-teal-A700: #00bfa5;

  --mps-sys-green-50: #e8f5e9;
  --mps-sys-green-100: #c8e6c9;
  --mps-sys-green-200: #a5d6a7;
  --mps-sys-green-300: #81c784;
  --mps-sys-green-400: #66bb6a;
  --mps-sys-green-500: #4caf50;
  --mps-sys-green-600: #43a047;
  --mps-sys-green-700: #388e3c;
  --mps-sys-green-800: #2e7d32;
  --mps-sys-green-900: #1b5e20;
  --mps-sys-green-A100: #b9f6ca;
  --mps-sys-green-A200: #69f0ae;
  --mps-sys-green-A400: #00e676;
  --mps-sys-green-A700: #00c853;

  --mps-sys-light-green-50: #f1f8e9;
  --mps-sys-light-green-100: #dcedc8;
  --mps-sys-light-green-200: #c5e1a5;
  --mps-sys-light-green-300: #aed581;
  --mps-sys-light-green-400: #9ccc65;
  --mps-sys-light-green-500: #8bc34a;
  --mps-sys-light-green-600: #7cb342;
  --mps-sys-light-green-700: #689f38;
  --mps-sys-light-green-800: #558b2f;
  --mps-sys-light-green-900: #33691e;
  --mps-sys-light-green-A100: #ccff90;
  --mps-sys-light-green-A200: #b2ff59;
  --mps-sys-light-green-A400: #76ff03;
  --mps-sys-light-green-A700: #64dd17;

  --mps-sys-lime-50: #f9fbe7;
  --mps-sys-lime-100: #f0f4c3;
  --mps-sys-lime-200: #e6ee9c;
  --mps-sys-lime-300: #dce775;
  --mps-sys-lime-400: #d4e157;
  --mps-sys-lime-500: #cddc39;
  --mps-sys-lime-600: #c0ca33;
  --mps-sys-lime-700: #afb42b;
  --mps-sys-lime-800: #9e9d24;
  --mps-sys-lime-900: #827717;
  --mps-sys-lime-A100: #f4ff81;
  --mps-sys-lime-A200: #eeff41;
  --mps-sys-lime-A400: #c6ff00;
  --mps-sys-lime-A700: #aeea00;

  --mps-sys-yellow-50: #fffde7;
  --mps-sys-yellow-100: #fff9c4;
  --mps-sys-yellow-200: #fff59d;
  --mps-sys-yellow-300: #fff176;
  --mps-sys-yellow-400: #ffee58;
  --mps-sys-yellow-500: #ffeb3b;
  --mps-sys-yellow-600: #fdd835;
  --mps-sys-yellow-700: #fbc02d;
  --mps-sys-yellow-800: #f9a825;
  --mps-sys-yellow-900: #f57f17;
  --mps-sys-yellow-A100: #ffff8d;
  --mps-sys-yellow-A200: #ffff00;
  --mps-sys-yellow-A400: #ffea00;
  --mps-sys-yellow-A700: #ffd600;

  --mps-sys-amber-50: #fff8e1;
  --mps-sys-amber-100: #ffecb3;
  --mps-sys-amber-200: #ffe082;
  --mps-sys-amber-300: #ffd54f;
  --mps-sys-amber-400: #ffca28;
  --mps-sys-amber-500: #ffc107;
  --mps-sys-amber-600: #ffb300;
  --mps-sys-amber-700: #ffa000;
  --mps-sys-amber-800: #ff8f00;
  --mps-sys-amber-900: #ff6f00;
  --mps-sys-amber-A100: #ffe57f;
  --mps-sys-amber-A200: #ffd740;
  --mps-sys-amber-A400: #ffc400;
  --mps-sys-amber-A700: #ffab00;

  --mps-sys-orange-50: #fff3e0;
  --mps-sys-orange-100: #ffe0b2;
  --mps-sys-orange-200: #ffcc80;
  --mps-sys-orange-300: #ffb74d;
  --mps-sys-orange-400: #ffa726;
  --mps-sys-orange-500: #ff9800;
  --mps-sys-orange-600: #fb8c00;
  --mps-sys-orange-700: #f57c00;
  --mps-sys-orange-800: #ef6c00;
  --mps-sys-orange-900: #e65100;
  --mps-sys-orange-A100: #ffd180;
  --mps-sys-orange-A200: #ffab40;
  --mps-sys-orange-A400: #ff9100;
  --mps-sys-orange-A700: #ff6d00;

  --mps-sys-deep-orange-50: #fbe9e7;
  --mps-sys-deep-orange-100: #ffccbc;
  --mps-sys-deep-orange-200: #ffab91;
  --mps-sys-deep-orange-300: #ff8a65;
  --mps-sys-deep-orange-400: #ff7043;
  --mps-sys-deep-orange-500: #ff5722;
  --mps-sys-deep-orange-600: #f4511e;
  --mps-sys-deep-orange-700: #e64a19;
  --mps-sys-deep-orange-800: #d84315;
  --mps-sys-deep-orange-900: #bf360c;
  --mps-sys-deep-orange-A100: #ff9e80;
  --mps-sys-deep-orange-A200: #ff6e40;
  --mps-sys-deep-orange-A400: #ff3d00;
  --mps-sys-deep-orange-A700: #dd2c00;

  --mps-sys-brown-50: #efebe9;
  --mps-sys-brown-100: #d7ccc8;
  --mps-sys-brown-200: #bcaaa4;
  --mps-sys-brown-300: #a1887f;
  --mps-sys-brown-400: #8d6e63;
  --mps-sys-brown-500: #795548;
  --mps-sys-brown-600: #6d4c41;
  --mps-sys-brown-700: #5d4037;
  --mps-sys-brown-800: #4e342e;
  --mps-sys-brown-900: #3e2723;
  --mps-sys-brown-A100: #d7ccc8;
  --mps-sys-brown-A200: #bcaaa4;
  --mps-sys-brown-A400: #8d6e63;
  --mps-sys-brown-A700: #5d4037;

  --mps-sys-grey-50: #fafafa;
  --mps-sys-grey-100: #f5f5f5;
  --mps-sys-grey-200: #eeeeee;
  --mps-sys-grey-300: #e0e0e0;
  --mps-sys-grey-400: #bdbdbd;
  --mps-sys-grey-500: #9e9e9e;
  --mps-sys-grey-600: #757575;
  --mps-sys-grey-700: #616161;
  --mps-sys-grey-800: #424242;
  --mps-sys-grey-900: #212121;
  --mps-sys-grey-A100: #f5f5f5;
  --mps-sys-grey-A200: #eeeeee;
  --mps-sys-grey-A400: #bdbdbd;
  --mps-sys-grey-A700: #616161;

  --mps-sys-blue-grey-50: #eceff1;
  --mps-sys-blue-grey-100: #cfd8dc;
  --mps-sys-blue-grey-200: #b0bec5;
  --mps-sys-blue-grey-300: #90a4ae;
  --mps-sys-blue-grey-400: #78909c;
  --mps-sys-blue-grey-500: #607d8b;
  --mps-sys-blue-grey-600: #546e7a;
  --mps-sys-blue-grey-700: #455a64;
  --mps-sys-blue-grey-800: #37474f;
  --mps-sys-blue-grey-900: #263238;
  --mps-sys-blue-grey-A100: #cfd8dc;
  --mps-sys-blue-grey-A200: #b0bec5;
  --mps-sys-blue-grey-A400: #78909c;
  --mps-sys-blue-grey-A700: #455a64;
}
